/.idea
/environments/**/.buildignore
/environments/**/.pushignore
/compose/openvpn/.env
/builder/vendor/
/builder/kloud-private.pem
/builder/kloud-private-nopassphrase.pem
/builder/kloud-private.pem.passphrase-protected
/builder/box.json
/builder/.php_cs.cache
/builder/build/kloud.phar.pubkey
/builder/build/kloud.phar
