/.idea
/environments/**/.buildignore
/environments/**/.pushignore
/compose/openvpn/.env
/vendor/
/kloud-private.pem
/kloud-private-nopassphrase.pem
/kloud-private.pem.passphrase-protected
/box.json
/.php_cs.cache
/build/kloud.phar.pubkey
/build/kloud.phar
