{
    "chmod": "0755",
    "main": "bin/kloud",
    "output": "build/kloud.phar",
    "directories": ["src"],
    "finder": [
        {
            "name": "*.php",
            "in": "config"
        },
        {
            "name": "*.php",
            "exclude": ["test", "tests"],
            "in": "vendor"
        }
    ],
    "algorithm": "OPENSSL",
    "key": "kloud-private-nopassphrase.pem",
    "stub": true
}